.temp{
    background-color : #3E3772;
    min-height: 80px;
    border-radius: 10px;
    padding : 10px 10px;
    margin : 20px;
}

.temp *{
    float : left;
    margin : 10px;
}


img{
    width : 60px;
    height : 60px;
}